 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 1080px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer0 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1920px;
	 height: 1080px;
	 z-index:1;
} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1923px;
	 height: 1082px;
	 z-index:2;
} 

 #Asset39 
{ 
	 left: 850px; 
	 top: 504px; 
	 position: absolute; 
	 width: 554px;
	 height: 139px;
	 z-index:3;
} 

 #Rectangle1 
{ 
	 left: -25px; 
	 top: -29px; 
	 position: absolute; 
	 width: 1970px;
	 height: 1112px;
	 z-index:4;
} 

 #Rectangle2 
{ 
	 left: 1124px; 
	 top: 141px; 
	 position: absolute; 
	 width: 622px;
	 height: 798px;
	 z-index:5;
} 

 #Rectangle3 
{ 
	 left: 1257px; 
	 top: 270px; 
	 position: absolute; 
	 width: 391px;
	 height: 50px;
	 z-index:6;
} 

 #Rectangle3copy3 
{ 
	 left: 1257px; 
	 top: 419px; 
	 position: absolute; 
	 width: 391px;
	 height: 50px;
	 z-index:7;
} 

 #Rectangle3copy4 
{ 
	 left: 1257px; 
	 top: 492px; 
	 position: absolute; 
	 width: 391px;
	 height: 50px;
	 z-index:8;
} 

 #Rectangle3copy6 
{ 
	 left: 1297px; 
	 top: 668px; 
	 position: absolute; 
	 width: 328px;
	 height: 50px;
	 z-index:9;
} 

 #Rectangle3copy5 
{ 
	 left: 1509px; 
	 top: 568px; 
	 position: absolute; 
	 width: 138px;
	 height: 50px;
	 z-index:10;
} 

 #Rectangle3copy 
{ 
	 left: 1374px; 
	 top: 345px; 
	 position: absolute; 
	 width: 273px;
	 height: 50px;
	 z-index:11;
} 

 #Rectangle3copy2 
{ 
	 left: 1257px; 
	 top: 345px; 
	 position: absolute; 
	 width: 112px;
	 height: 50px;
	 z-index:12;
} 

 #layer_92 
{ 
	 left: 1285px; 
	 top: 363px; 
	 position: absolute; 
	 width: 35px;
	 height: 14px;
	 z-index:13;
} 

 #Name 
{ 
	 left: 1279px; 
	 top: 288px; 
	 position: absolute; 
	 width: 55px;
	 height: 14px;
	 z-index:14;
} 

 #Email 
{ 
	 left: 1279px; 
	 top: 439px; 
	 position: absolute; 
	 width: 53px;
	 height: 14px;
	 z-index:15;
} 

 #Password 
{ 
	 left: 1279px; 
	 top: 512px; 
	 position: absolute; 
	 width: 94px;
	 height: 14px;
	 z-index:16;
} 

 #signinwithgoogle 
{ 
	 left: 1353px; 
	 top: 682px; 
	 position: absolute; 
	 width: 217px;
	 height: 22px;
	 z-index:17;
} 

 #Rectangle3copy7 
{ 
	 left: 1297px; 
	 top: 741px; 
	 position: absolute; 
	 width: 328px;
	 height: 50px;
	 z-index:18;
} 

 #signinwithfacebook 
{ 
	 left: 1353px; 
	 top: 755px; 
	 position: absolute; 
	 width: 245px;
	 height: 22px;
	 z-index:19;
} 

 #signup 
{ 
	 left: 1530px; 
	 top: 582px; 
	 position: absolute; 
	 width: 95px;
	 height: 22px;
	 z-index:20;
} 

 #Phone 
{ 
	 left: 1398px; 
	 top: 363px; 
	 position: absolute; 
	 width: 61px;
	 height: 14px;
	 z-index:21;
} 

 #Triangle1 
{ 
	 left: 1325px; 
	 top: 365px; 
	 position: absolute; 
	 width: 14px;
	 height: 12px;
	 z-index:22;
} 

 #signup_0 
{ 
	 left: 1359px; 
	 top: 191px; 
	 position: absolute; 
	 width: 140px;
	 height: 20px;
	 z-index:23;
} 

 #Asset38 
{ 
	 left: 373px; 
	 top: 202px; 
	 position: absolute; 
	 width: 275px;
	 height: 200px;
	 z-index:24;
} 

 #DriveThruPKisasimple 
{ 
	 left: 154px; 
	 top: 438px; 
	 position: absolute; 
	 width: 686px;
	 height: 70px;
	 z-index:25;
} 

 #Allrightsreservedcop 
{ 
	 left: 228px; 
	 top: 990px; 
	 position: absolute; 
	 width: 590px;
	 height: 15px;
	 z-index:26;
} 

 #Ialreadyownanaccount 
{ 
	 left: 1268px; 
	 top: 589px; 
	 position: absolute; 
	 width: 229px;
	 height: 13px;
	 z-index:27;
} 

 #icons8facebook 
{ 
	 left: 1314px; 
	 top: 752px; 
	 position: absolute; 
	 width: 27px;
	 height: 27px;
	 z-index:28;
} 

 #icons8google 
{ 
	 left: 1316px; 
	 top: 679px; 
	 position: absolute; 
	 width: 28px;
	 height: 29px;
	 z-index:29;
} 

 #Layer0_0 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1920px;
	 height: 1080px;
	 z-index:30;
} 

 #Layer1_0 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1923px;
	 height: 1082px;
	 z-index:31;
} 

 #Asset39_0 
{ 
	 left: 850px; 
	 top: 504px; 
	 position: absolute; 
	 width: 554px;
	 height: 139px;
	 z-index:32;
} 

 #Rectangle1_0 
{ 
	 left: -25px; 
	 top: -29px; 
	 position: absolute; 
	 width: 1970px;
	 height: 1112px;
	 z-index:33;
} 

 #Rectangle2_0 
{ 
	 left: 1124px; 
	 top: 141px; 
	 position: absolute; 
	 width: 622px;
	 height: 798px;
	 z-index:34;
} 

 #Rectangle3copy3_0 
{ 
	 left: 1257px; 
	 top: 491px; 
	 position: absolute; 
	 width: 391px;
	 height: 50px;
	 z-index:35;
} 

 #Rectangle3copy6_0 
{ 
	 left: 1297px; 
	 top: 668px; 
	 position: absolute; 
	 width: 328px;
	 height: 50px;
	 z-index:36;
} 

 #Rectangle3copy5_0 
{ 
	 left: 1509px; 
	 top: 568px; 
	 position: absolute; 
	 width: 138px;
	 height: 50px;
	 z-index:37;
} 

 #Rectangle3copy_0 
{ 
	 left: 1374px; 
	 top: 417px; 
	 position: absolute; 
	 width: 273px;
	 height: 50px;
	 z-index:38;
} 

 #Rectangle3copy2_0 
{ 
	 left: 1257px; 
	 top: 417px; 
	 position: absolute; 
	 width: 112px;
	 height: 50px;
	 z-index:39;
} 

 #layer_92_0 
{ 
	 left: 1285px; 
	 top: 435px; 
	 position: absolute; 
	 width: 35px;
	 height: 14px;
	 z-index:40;
} 

 #Password_0 
{ 
	 left: 1279px; 
	 top: 511px; 
	 position: absolute; 
	 width: 94px;
	 height: 14px;
	 z-index:41;
} 

 #signinwithgoogle_0 
{ 
	 left: 1353px; 
	 top: 682px; 
	 position: absolute; 
	 width: 217px;
	 height: 22px;
	 z-index:42;
} 

 #Rectangle3copy7_0 
{ 
	 left: 1297px; 
	 top: 741px; 
	 position: absolute; 
	 width: 328px;
	 height: 50px;
	 z-index:43;
} 

 #signinwithfacebook_0 
{ 
	 left: 1353px; 
	 top: 755px; 
	 position: absolute; 
	 width: 245px;
	 height: 22px;
	 z-index:44;
} 

 #signin 
{ 
	 left: 1530px; 
	 top: 582px; 
	 position: absolute; 
	 width: 86px;
	 height: 22px;
	 z-index:45;
} 

 #Phone_0 
{ 
	 left: 1398px; 
	 top: 435px; 
	 position: absolute; 
	 width: 61px;
	 height: 14px;
	 z-index:46;
} 

 #Triangle1_0 
{ 
	 left: 1325px; 
	 top: 437px; 
	 position: absolute; 
	 width: 14px;
	 height: 12px;
	 z-index:47;
} 

 #signin_0 
{ 
	 left: 1368px; 
	 top: 359px; 
	 position: absolute; 
	 width: 131px;
	 height: 20px;
	 z-index:48;
} 

 #Asset38_0 
{ 
	 left: 373px; 
	 top: 202px; 
	 position: absolute; 
	 width: 275px;
	 height: 200px;
	 z-index:49;
} 

 #DriveThruPKisasimple_0 
{ 
	 left: 154px; 
	 top: 438px; 
	 position: absolute; 
	 width: 686px;
	 height: 70px;
	 z-index:50;
} 

 #Allrightsreservedcop_0 
{ 
	 left: 228px; 
	 top: 990px; 
	 position: absolute; 
	 width: 590px;
	 height: 15px;
	 z-index:51;
} 

 #CreateNewAccountClic 
{ 
	 left: 1267px; 
	 top: 589px; 
	 position: absolute; 
	 width: 219px;
	 height: 12px;
	 z-index:52;
} 

 #icons8facebook_0 
{ 
	 left: 1314px; 
	 top: 752px; 
	 position: absolute; 
	 width: 27px;
	 height: 27px;
	 z-index:53;
} 

 #icons8google_0 
{ 
	 left: 1316px; 
	 top: 679px; 
	 position: absolute; 
	 width: 28px;
	 height: 29px;
	 z-index:54;
} 
