.bg-banner {
    background-image: url('/images/banner/admin_header.jpg');
    background-size: 100% 100%;
}

.bg-fullpage-banner {
    background-image: url('/images/banner/1.jpg');
    background-size: 100% 100%;
}