.circular-10 {
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
}

.circular-15 {
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
}

.circular-20 {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
}

.circular-25 {
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
}

.circular-50 {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
}

.circular-75 {
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
}

.box-5 {
    width: 5px;
    height: 5px;
}

.box-10 {
    width: 10px;
    height: 10px;
}

.box-15 {
    width: 15px;
    height: 15px;
}

.box-20 {
    width: 20px;
    height: 20px;
}

.box-25 {
    width: 25px !important;
    height: 25px !important;
}

.box-30 {
    width: 30px !important;
    height: 30px !important;
}

.box-50 {
    width: 50px;
    height: 50px;
}

.box-75 {
    width: 75px;
    height: 75px;
}

.box-100 {
    width: 100px;
    height: 100px;
}

.box-125 {
    width: 125px;
    height: 125px;
}

.box-150 {
    width: 150px;
    height: 150px;
}

.box-175 {
    width: 175px;
    height: 175px;
}

.box-200 {
    width: 200px;
    height: 200px;
}

.box-120x200 {
    width: 200px;
    height: 120px;
}

.image-frame {
    position: relative;
    & img {
        z-index: 200;
    }
    & .no-image-caption {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        border-color: rgb(224, 224, 224);
        color: grey;
        background-color: rgb(241, 243, 245);
        z-index: 300;
    }
    &.has-image {
        & img {
            z-index: 300;
        }
        & .no-image-caption {
            position: absolute;
            z-index: 200;
        }
    }
}