body {
    min-height: 100vh !important;
    padding: 0px;
}

.bg {
    &-black {
        background-color: black;
    }
    &-white {
        background-color: white;
    }
    &-green {
        background-color: green;
    }
    &-teal {
        background-color: teal;
    }
    &-red {
        background-color: red;
    }
    &-light-grey {
        background-color: #f1f1f1;
    }
    &-dark-grey {
        background-color: #8E9085;
    }
    &-silver {
        background-color: rgb(192, 192, 192);
    }
    &-orange {
        background-color: $custom_orange;
    }
    &-lightsky {
        background-color: rgb(221, 227, 233);
    }
}

.txt {
    //text colors
    &-white {
        color: white;
    }
    &-red {
        color: red;
    }
    &-blue {
        color: blue;
    }
    &-green {
        color: green
    }
    &-silver {
        color: silver;
    }
    &-yellow {
        color: yellow;
    }
    &-orange {
        color: $custom_orange;
    }
}

.hide {
    display: none !important;
}