body {
    min-height: 100vh !important;
    padding: 0px;
}

.bg {
    &-black {
        background-color: black;
    }
    &-white {
        background-color: white;
    }
    &-green {
        background-color: green;
    }
    &-teal {
        background-color: teal;
    }
    &-red {
        background-color: red;
    }
    &-light-grey {
        background-color: #f1f1f1;
    }
    &-dark-grey {
        background-color: #8E9085;
    }
    &-silver {
        background-color: silver;
    }
}

.hide {
    display: none !important;
}