$user-header-height:10vh;
$user-sidebar-height:90vh;
$page-height:86vh; //lower 4% will be as empty footer 
$page-header-height:16vh;
$page-title-height:10vh;
$page-navbar-height:6vh;
$page-body-height: 80vh;
//national dashbo
.user-header {
    height: $user-header-height;
    background-color: white;
    color: $custom-blue;
    font-size: 0.8rem;
    position: sticky;
    left: 0px;
    top: 0px;
    & .app-logo {
        height: 25px;
        width: 80%;
    }
    & .navitem {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        border-bottom: solid white 2px;
        height: $user-header-height;
        &.active {
            border-bottom: solid rgb($custom-blue, 0.8) 2px;
        }
    }
}

.user-sidebar {
    height: 90vh;
    position: fixed;
    left: 0px;
    width: 20%;
    top: $user-header-height;
    bottom: 0px;
    overflow: auto;
    background-color: $custom-blue;
    z-index: 1;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    &.disappear {
        transform: translateX(-100%);
    }
    & .user-avatar-lg {
        width: 75px;
        height: 75px;
        margin-top: 10px;
        border: solid;
        border-color: $custom-light;
        border-radius: 50%;
    }
    & .user-profile-id {
        margin-top: 5px;
        color: $custom-orange;
    }
    & .free-report-btn {
        background-color: $custom-light;
        border-radius: 70px;
        padding: 2px 5px;
        margin-top: 5px;
        text-align: center;
    }
    & .navitem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        width: 100%;
        & a {
            text-decoration: none;
        }
        & .navitem-ico {
            color: #B9BEC4; //smoke
            margin-bottom: 5px;
            text-align: center;
        }
        & .navitem-link {
            color: #B9BEC4; //smoke
        }
        &.active {
            background-color: $custom-orange;
            & .navitem-ico {
                color: white;
            }
            & .navitem-link {
                color: white;
            }
        }
        &:not(.active) {
            &:hover {
                & .navitem-ico {
                    color: $custom-light;
                }
                & .navitem-link {
                    color: $custom-light;
                }
            }
        }
    }
}

.user-page {
    width: 100%;
    & .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        margin-bottom: 1rem;
        & .page-title {
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 1.2rem;
            height: $page-title-height;
        }
    }
    & .page-navbar {
        display: flex;
        // min-height: $page-navbar-height;
        align-items: center;
        font-size: 1.0rem;
        & .navitem {
            display: flex;
            align-items: center;
            padding: 0px 0px 5px 0px;
            border-bottom: 2px solid $custom-light;
            &.active {
                font-weight: bold;
                color: $custom-blue;
                border-bottom: 2px solid rgb($custom-blue, 0.8);
            }
            &:first-child {
                & a {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            &:not(:first-child) {
                margin-left: 15px;
            }
            & a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    & .page-body {
        & .page-social {
            //min-height: $page-body-height;
            //overflow-y: auto;
            padding: 0px 0px 0px 10px;
            & .social-news {
                display: flex;
                background-color: white;
                padding: 10px;
                width: 100%;
                & .social-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 25% !important;
                    & .fb {
                        display: flex;
                        width: 25px;
                        height: 25px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: rgb(#4C1CEE, 0.72);
                        color: white;
                    }
                    & .twitter {
                        display: flex;
                        width: 25px;
                        height: 25px;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        // border-color: #1492E6 !important; not working
                        color: #1492E6;
                    }
                }
                & .social-text {
                    display: flex;
                    width: 75%;
                    color: #333;
                    font-size: 0.8rem;
                }
                & .news-txt {
                    display: flex;
                    width: 100%;
                    color: #333;
                    font-size: 0.5rem;
                }
            }
        }
    }
}