.fancy-input {
    position: relative;
    label {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 10px;
        transition: 0.5s;
        background-color: transparent;
        color: rgb(11, 11, 54);
    }
    input {
        font-family: inherit;
        width: 100%;
        border: none;
        // border-left: 5px solid darkblue;
        font-size: 1.0rem;
        padding: 10px;
        outline: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: rgb(185, 203, 226);
        transition: border-color 0.2s;
        &:not(:placeholder-shown) {
            color: rgb(17, 28, 59);
            top: -20px;
            // padding: 0px 2px;
            left: 5px;
            border: 0;
            font-size: 0.8rem;
            visibility: visible;
            transition: 0.5s;
            cursor: text;
            background-color: transparent;
        }
        &:not(:placeholder-shown)~label {
            color: rgb(17, 28, 59);
            top: -20px;
            // padding: 0px 2px;
            left: 5px;
            border: 0;
            font-size: 0.8rem;
            visibility: visible;
            transition: 0.5s;
            cursor: text;
            background-color: transparent;
        }
        &:focus {
            border-color: rgb(26, 26, 236);
            transition: border-color 0.2s;
        }
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: whitesmoke
        }
    }
}

.fancy-input-search {
    position: relative;
    label {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 10px;
        transition: 0.5s;
        background-color: transparent;
        color: rgb(11, 11, 54);
    }
    input {
        font-family: inherit;
        width: 100%;
        border: none;
        // border-left: 2px solid darkblue;
        font-size: 1.0rem;
        padding: 10px;
        outline: none;
        border-radius: 0px;
        box-shadow: none;
        background-color: rgb(185, 203, 226);
        transition: border-color 0.2s;
        &:not(:placeholder-shown)~label {
            outline: none;
            border: 1px solid rgba($primary, 0.2);
            border-radius: 0px;
            box-shadow: none;
            background-color: transparent;
        }
        &:focus {
            border-color: rgb(26, 26, 236);
            transition: border-color 0.2s;
        }
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: whitesmoke
        }
    }
}

.fancyinput {
    position: relative;
    label {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 10px;
        transition: 0.5s;
    }
    input {
        font-family: inherit;
        width: 100%;
        // border-bottom: 1px solid rgba($primary, 0.5);
        font-size: 1.0rem;
        padding: 10px;
        outline: none;
        border: 1px solid rgba($primary, 0.2);
        border-radius: 0px;
        box-shadow: none;
        background-color: transparent;
        transition: border-color 0.2s;
        &:not(:placeholder-shown)~label {
            color: rgb(113, 112, 148);
            top: -12px;
            padding: 0px 2px;
            left: 10px;
            border: 0;
            font-size: 0.8rem;
            visibility: visible;
            transition: 0.5s;
            cursor: text;
            background-color: white;
        }
        &:focus {
            border-color: rgba($primary, 0.5);
            transition: border-color 0.2s;
        }
    }
    textarea {
        @extend input;
        &:not(:placeholder-shown)~label {
            color: $primary;
            top: -12px;
            //border: 0;
            font-size: 0.8rem;
            visibility: visible;
            transition: 0.5s;
            cursor: text;
            background-color: white;
        }
        &:focus {
            //outline: 1px solid royalblue;
            outline: none;
            border: 1px solid royalblue;
            box-shadow: none;
            transition: 0.5s ease;
        }
    }
}

.fancyselect {
    position: relative;
    select {
        font-family: inherit;
        width: 100%;
        border: 1px solid rgba($primary, 0.2);
        outline: 0;
        font-size: 1.0rem;
        padding: 10px;
        border-radius: 0px;
        background-color: transparent;
        transition: border-color 0.2s;
        &:focus {
            border-color: rgba($primary, 0.5);
            transition: border-color 0.2s;
        }
        option {
            background-color: rgba(white, 0.5);
            color: #333;
        }
    }
    label {
        position: absolute;
        color: $primary;
        top: -10px;
        left: 10px;
        padding: 0px 2px;
        font-size: 0.8rem;
        visibility: visible;
        background-color: white;
        transition: 0.5s;
    }
}

//rounded input for search
.fancy-search-grow {
    input {
        border-style: solid;
        border-width: thin;
        border-color: silver;
        border-radius: 50px;
        width: 30%;
        line-height: 1.2rem;
        background-color: transparent;
        padding: 0px 15px 0px 15px;
        &:focus {
            outline: 0;
            transition: 1s;
        }
        &:not(:placeholder-shown) {
            outline: 0;
            width: 50%;
            transition: 1s;
        }
    }
}