.feather-xxsmall {
    width: 8px;
    height: 8px;
}

.feather-xsmall {
    width: 13px;
    height: 13px;
}

.feather-small {
    width: 16px;
    height: 16px;
}

.feather-medium {
    width: 24px;
    height: 24px;
}

.feather-large {
    width: 48px;
    height: 48px;
}

.feather-xlarge {
    width: 64px;
    height: 64px;
}

.feather-xxlarge {
    width: 80px;
    height: 80px;
}