.container {
    &-50,
    &-60,
    &-70,
    &-75 {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-50 {
        width: 50%;
    }
    &-60 {
        width: 60%;
    }
    &-70 {
        width: 70%;
    }
    &-75 {
        width: 75%;
    }
}

.hr {
    border-bottom: 1px solid #777;
    &.light {
        border-bottom: 1px solid #aaa;
    }
}

a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

div>a {
    color: inherit;
}

.primary {
    border: 0.5px #aaa solid;
    border-radius: 5px;
    & .label {
        font-size: 1.3rem;
        color: $custom-blue;
    }
    & .icon {
        display: none;
        position: absolute;
        top: 15px;
        right: 15px;
        & .feather-large {
            color: white;
        }
    }
    & .order {
        position: absolute;
        font-weight: bold;
        top: 15px;
        right: 15px;
        & .circular-50 {
            border: 0.5px #aaa solid;
            color: #aaa;
        }
    }
    & .animated-order {
        position: absolute;
        opacity: 0;
        border-color: #aaa;
        font-weight: bold;
        top: 15px;
        left: 15px;
        transform: translateY(-50px);
    }
    &:hover {
        background-color: $custom-orange;
        border: transparent;
        transition: all 0.5s;
        & .label {
            font-weight: bold;
            transform: translateX(20%);
            transition: all 0.25s ease-out;
        }
        & .icon {
            color: white;
            display: flex;
            transition: all 1s ease-in-out;
        }
        & .order {
            display: none;
        }
        & .animated-order {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.25s ease-out;
            & .circular-50 {
                border: none;
                background-color: white;
                color: $custom-blue;
                font-weight: bold;
            }
        }
    }
}