.horizontal-navbar {
    display: flex;
    background-color: #22395b;
    color: #ddd;
    align-items: center;
    line-height: 50px;
    align-items: center;
    box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    & .logo img {
        width: 140px;
        margin-left: 10px;
        vertical-align: middle;
    }
    & .nav-links {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
    & .nav-links ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin-bottom: 0 !important;
    }
    & .nav-links>ul>li {
        padding: 0px 15px;
    }
    & a {
        color: inherit;
        text-decoration: none;
    }
    & a:hover {
        color: #f0744e;
    }
}

section.page-content {
    position: absolute;
    width: 100%;
    top: 50px;
}

.top-right-icon {
    /* relative to parent */
    position: absolute;
    text-align: center;
    top: 5px;
    right: 5px;
    border: 0 !important;
    transition: all ease 0.5s;
}

.top-right-icon:hover {
    cursor: pointer;
    color: white;
    background-color: #db6743;
}

.circular-20 {
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 50%;
}