$active-color:#e07f0f;
$inactive-color:#c09c6d;
.navstep {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 2px;
    & a {
        text-decoration: none !important;
        color: rgb(40, 40, 59);
        & .roundbtn:hover {
            background-color: $active-color;
            cursor: pointer;
        }
    }
    & .roundbtn {
        display: flex;
        flex-direction: column;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: $inactive-color;
        color: white;
    }
    & .super-underline {
        position: absolute;
        left: 30px;
        top: -8px;
        width: 85%;
        padding-left: 20px;
        border-bottom: solid;
        border-width: 1px;
        border-color: slategray;
        color: slategray;
    }
    &.active {
        & .roundbtn {
            display: flex;
            flex-direction: column;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: solid;
            border-width: 1px;
            border-color: rgb(87, 83, 83);
            align-items: center;
            justify-content: center;
            background-color: $active-color;
        }
        & .super-underline {
            position: absolute;
            left: 30px;
            top: -8px;
            width: 85%;
            padding-left: 20px;
            border-bottom: solid;
            border-width: 1px;
            border-color: #333;
            color: #333;
            font-weight: bold;
        }
    }
}