$navbar-height:12vh;
.navbar {
    height: $navbar-height;
    color: white;
    padding: 0px 50px;
    & .navlink {
        padding: 0px 10px;
        & a {
            color: inherit;
        }
        & a:hover {
            color: $custom_orange;
            text-decoration: none;
        }
        & .chevron-up,
        & .navsub {
            display: none !important;
            transition: display 0.5s ease-in-out; //not working
        }
    }
    & .navlink.has-sub {
        height: $navbar-height;
    }
    & .navlink.has-sub:hover {
        & .chevron-up {
            display: flex !important;
            position: absolute;
            background-color: white;
            border: none;
            height: 12px;
            width: 12px;
            top: 65px;
            z-index: 1001;
            transform: rotate(45deg);
        }
        & .navsub {
            display: flex !important;
            position: absolute;
            top: $navbar-height;
            min-width: 200px;
            right: 10px;
            padding: 10px;
            background-color: #fff;
            border-bottom: solid;
            border-color: $custom_orange;
            border-width: 5px;
            border-radius: 3px;
            & .navlink {
                line-height: 2.0;
            }
            & .navlink a {
                color: #333;
            }
            & .navlink a:hover {
                color: $custom_orange;
            }
        }
    }
}

.notification-count {
    position: absolute;
    background-color: $custom_orange;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: -3px;
    right: 3px
}