//turn row into col and expand to its full with on smaller screen
@media only screen and (max-width: 1000px) {
    .container {
        width: 100% !important;
    }
    .container {
        &-50,
        &-60,
        &-70,
        &-75 {
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: 100% !important;
        }
    }
    .fcol {
        width: 100%;
        margin-bottom: 20px;
    }
    .auto-col {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .auto-resize {
        width: 100%;
    }
    .r-px-5 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    .mx-10 {
        margin-left: 50px;
        margin-right: 50px;
    }
    .px-10 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .mx-5 {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .px-5 {
        padding-left: 1rem;
        padding-right: 20px !important;
    }
    .txt-s {
        font-size: 0.6rem;
    }
    .r-show {
        visibility: visible !important;
    }
    .r-hide {
        visibility: hidden !important;
        display: none !important;
    }
    .navstep {
        width: 100%;
        margin-bottom: 10px;
    }
}

.r-show {
    visibility: hidden;
}

.r-hide {
    visibility: visible;
    display: block;
}

.r-px-5 {
    padding-left: 2rem;
    padding-right: 2rem;
}