//turn row into col and expand to its full with on smaller screen
@media only screen and (max-width: 1000px) {
    .container {
        width: 100% !important;
    }
    .container {
        &-50,
        &-60,
        &-70,
        &-75 {
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: 100% !important;
        }
    }
    .fcol {
        width: 100% !important;
    }
    .auto-col {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    // .auto-resize {
    //     width: 100%;
    // }
    // .rpx-5 {
    //     padding-left: 1rem !important;
    //     padding-right: 1rem !important;
    // }
    // .mx-10 {
    //     margin-left: 50px;
    //     margin-right: 50px;
    // }
    // .px-10 {
    //     padding-left: 50px;
    //     padding-right: 50px;
    // }
    // .mx-5 {
    //     margin-left: 20px !important;
    //     margin-right: 20px !important;
    // }
    // .px-5 {
    //     padding-left: 1rem !important;
    //     padding-right: 1rem !important;
    // }
    // .rp-5 {
    //     padding: 1rem !important;
    // }
    .txt-xxl {
        font-size: 1.5rem;
    }
    .txt-xl {
        font-size: 1.3rem;
    }
    .txt-l {
        font-size: 1.2rem;
    }
    .txt-m {
        font-size: 1rem;
    }
    .txt-s {
        font-size: 0.75rem;
    }
    .navstep {
        width: 100%;
        margin-bottom: 10px;
    }
    .slider {
        width: 100% !important;
    }
    .w-5 {
        width: 5% !important;
    }
    // .w-10 {
    //     width: 10% !important;
    // }
    // .w-15 {
    //     width: 15% !important;
    // }
    // .w-20 {
    //     width: 20%;
    // }
    // .hw-25 {
    //     width: 25%;
    // }
    // .w-30 {
    //     width: 30%;
    // }
    // .w-32 {
    //     width: 32%;
    // }
    // .w-40 {
    //     width: 40%;
    // }
    // .w-48 {
    //     width: 48%;
    // }
    // .hw-50 {
    //     width: 50%;
    // }
    // // .w-55 {
    //     width: 55% !important;
    // }
    // .w-60 {
    //     width: 60% !important;
    // }
    // .w-70 {
    //     width: 70% !important;
    // }
    // .hw-75 {
    //     width: 75% !important;
    // }
    // .w-80 {
    //     width: 80% !important;
    // }
    // .w-90 {
    //     width: 90% !important;
    // }
    .tr,
    .th {
        font-size: 0.75rem;
    }
    .th {
        font-weight: bold;
    }
    .feather-xsmall {
        width: 10px;
        height: 10px;
    }
    .user-sidebar {
        width: 60% !important;
        overflow-y: auto;
    }
    // 
    .hide-sm {
        display: none !important;
    }
    .show-sm {
        display: block !important;
    }
    .user-page {
        width: 100% !important;
        & .page-body {
            overflow-y: auto !important;
        }
    }
}

.hide-sm {
    display: block;
}

.show-sm {
    display: none;
}