//turn row into col and expand to its full with on smaller screen
@media only screen and (max-width: 1000px) {
    .container {
        width: 100% !important;
    }
    .container {
        &-50,
        &-60,
        &-70,
        &-75 {
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: 100% !important;
        }
    }
    .fcol {
        width: 100% !important;
    }
    .auto-col {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .circular-10 {
        max-width: 10px;
        max-height: 10px;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
    }
    .circular-15 {
        max-width: 15px;
        max-height: 15px;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
    }
    .circular-20 {
        max-width: 20px;
        max-height: 20px;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
    }
    .circular-25 {
        max-width: 25px;
        max-height: 25px;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
    }
    .circular-50 {
        max-width: 50px;
        max-height: 50px;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
    }
    .circular-75 {
        max-width: 75px;
        max-height: 75px;
        align-items: center;
        justify-content: center;
        border: solid;
        border-radius: 50%;
    }
    .txt-xxl {
        font-size: 1.5rem;
    }
    .txt-xl {
        font-size: 1.3rem;
    }
    .txt-l {
        font-size: 1.2rem;
    }
    .txt-m {
        font-size: 1rem;
    }
    .txt-s {
        font-size: 0.75rem;
    }
    .navstep {
        width: 100%;
        margin-bottom: 10px;
    }
    .slider {
        width: 100% !important;
    }
    .rw-5 {
        width: 5% !important;
    }
    .rw-10 {
        width: 10% !important;
    }
    .rw-15 {
        width: 15% !important;
    }
    .rw-20 {
        width: 20% !important;
    }
    .rw-25 {
        width: 25% !important;
    }
    .rw-30 {
        width: 30% !important;
    }
    .rw-40 {
        width: 40% !important;
    }
    .rw-50 {
        width: 50% !important;
    }
    .rw-60 {
        width: 60% !important;
    }
    .rw-70 {
        width: 70% !important;
    }
    .rw-80 {
        width: 80% !important;
    }
    .rw-90 {
        width: 90% !important;
    }
    .rw-100 {
        width: 100% !important;
    }
    .rh-10 {
        height: 10vh!important;
    }
    .rh-20 {
        height: 20vh!important;
    }
    .rh-30 {
        height: 30vh!important;
    }
    .rh-40 {
        height: 40vh!important;
    }
    .rh-50 {
        height: 50vh!important;
    }
    .rh-60 {
        height: 60vh!important;
    }
    .rh-70 {
        height: 70vh!important;
    }
    .rh-80 {
        height: 90vh!important;
    }
    .rh-100 {
        height: 100vh!important;
    }
    .rh-auto {
        height: auto!important;
    }
    .rmy-1 {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .rmy-2 {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    .rmb-2 {
        margin-bottom: 0.75rem;
    }
    .rmy-3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .rmb-3 {
        margin-bottom: 1rem;
    }
    .tr,
    .th {
        font-size: 0.75rem;
    }
    .th {
        font-weight: bold;
    }
    .feather-xsmall {
        width: 10px;
        height: 10px;
    }
    .user-sidebar {
        width: 60% !important;
        overflow-y: auto;
    }
    // 
    .rhide {
        display: none !important;
    }
    .rshow {
        display: block !important;
    }
}

.rhide {
    display: block;
}

.rshow {
    display: none;
}