$user-header-height:10vh;
.user-header {
    height: $user-header-height;
    background-color: white;
    color: $custom-blue;
    font-size: 0.8rem;
    position: sticky;
    left: 0px;
    top: 0px;
    & .app-logo {
        height: 25px;
        width: 80%;
    }
    & .navitem {
        display: flex;
        align-items: center;
        padding: 0px 5px;
        border-bottom: solid white 2px;
        height: $user-header-height;
        &.active {
            border-bottom: solid rgb($custom-blue, 0.8) 2px;
        }
    }
}

.user-sidebar {
    height: calc(100vh-$user-header-height);
    position: fixed;
    left: 0px;
    width: 20%;
    top: $user-header-height;
    bottom: 0px;
    overflow: auto;
    background-color: $custom-blue;
    z-index: 1;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    &.disappear {
        transform: translateX(-100%);
    }
    & .user-avatar-lg {
        width: 75px;
        height: 75px;
        margin-top: 10px;
        border: solid;
        border-color: $custom-light;
        border-radius: 50%;
    }
    & .user-profile-id {
        margin-top: 5px;
        color: $custom-orange;
    }
    & .free-report-btn {
        background-color: $custom-light;
        border-radius: 70px;
        padding: 2px 5px;
        margin-top: 5px;
        text-align: center;
    }
    & .navbar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        width: 100%;
        & .navbar-ico {
            color: $custom-light;
            margin-bottom: 5px;
        }
        & .navbar-link {
            color: $custom-light;
        }
        &.active {
            background-color: $custom-orange;
            & .navbar-ico {
                color: white;
            }
            & .navbar-link {
                color: white;
            }
        }
        &:hover {
            background-color: rgb($custom-orange, 0.3);
            transition: background-color 0.5s ease;
        }
    }
}

.user-page-body {
    width: 80%;
    background-color: $custom-light;
    & .page-header {
        min-height: 8vh;
        align-items: center;
        margin: 0px 10px;
        & .page-title {
            font-weight: bold;
            font-size: 1.2rem;
            margin-left: 5px;
        }
    }
    & .page-data {
        max-height: 80vh;
        padding: 5px;
        overflow-y: auto;
    }
}