// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
//my css
@import 'variables';
@import 'font';
@import 'colors';
@import 'flex';
@import 'btn';
@import 'box';
@import 'fancyinput';
@import 'feather';
@import 'responsive';
@import 'navbar';
@import 'background';
@import 'navstep';
@import 'bar';
@import 'slider';
@import 'dashboard';
@import 'vticker';
@import 'misc';
@import 'index';
// Bootstrap
@import '~bootstrap/scss/bootstrap';