.mini_header {
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    position: relative;
}

.mini_header.admission {
    background-image: url('/images/bg/mini/admission.jpg');
}

.mini_header.services {
    background-image: url('/images/bg/mini/services.jpg');
}

.mini_header.about {
    background-image: url('/images/bg/mini/about.jpg');
}

.mini_header.blog {
    background-image: url('/images/bg/mini/blog.jpg');
}

.mini_header.contact {
    background-image: url('/images/bg/mini/contact.jpg');
}

.block {
    display: block;
}

.w-45 {
    flex-basis: 45%;
}

.w-30 {
    width: 30%;
}

.v-center {
    display: flex !important;
    /* flex-direction: column !important; */
    align-items: center;
}