    @media only screen and (max-width: 800px) {
        .rcol {
            display: block;
        }
        .app-header-logo {
            width: 110px;
            height: 30px;
        }
        .app-msg {
            font-family: 'Quicksand', sans-serif;
            width: 100%;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
        }
        .app-msg h1 {
            font-size: 24px;
        }
        .app-msg p {
            margin-top: 20px;
            font-size: 12px;
            color: #ff5421;
        }
        section {
            width: 100%;
            text-align: center;
        }
        .nav-links {
            /* position: absolute;
            background-color: #171f32;
            width: 300px;
            height: 100vh;
            top: 0px;
            right: -300px;
            text-align: left;
            
            z-index: 2;
            transition: 1s; */
            position: fixed;
            width: 60%;
            overflow: auto;
            top: 0px;
            height: 100vh;
            right: 0px;
            background-color: #171f32;
            z-index: 2;
            text-align: left;
            padding: 20px;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
        }
        .slide-left {
            transform: translateX(0);
        }
        .nav-links ul li {
            display: block;
            margin-left: 20px;
        }
        .nav-links ul li:nth-of-type(1) {
            margin-top: 50px;
        }
        nav .feather {
            display: block;
            /* color: #fff; */
            /* font-size: 20px; */
        }
        section .title {
            font-size: 24px;
        }
        section .row {
            display: block;
            justify-content: space-between;
        }
        section .col {
            margin-top: 10px;
        }
        .faq video {
            width: 100%;
        }
        .footer {
            margin-top: 100px !important;
        }
        .footer,
        .footer .newsletter,
        .footer .content {
            display: block;
        }
        .newsletter .title {
            font-size: 16px;
        }
        .newsletter .left,
        .newsletter .right {
            padding: 10px 5px;
        }
        .newsletter img {
            width: 30px;
        }
        .footer .content {
            margin-top: 100px;
            justify-content: space-between;
        }
        .footer .about,
        .footer .contact,
        .footer .address {
            margin-top: 20px;
        }
        .footer .copyright {
            color: #6e6d6d;
            font-size: 12px;
            padding: 20px 0px;
        }
        /* .col {
            min-width: 100%;
        } */
    }