@import url(https://fonts.googleapis.com/css?family=Nunito);
.txt-xs {
  font-size: 0.6rem;
}

.txt-s {
  font-size: 0.8rem;
}

.txt-m {
  font-size: 1.2rem;
}

.txt-l {
  font-size: 1.5rem;
}

.txt-xl {
  font-size: 2rem;
}

.txt-xxl {
  font-size: 2.5rem;
}

.txt-b {
  font-weight: bold;
}

.txt-j {
  text-align: justify;
}

body {
  min-height: 100vh !important;
  padding: 0px;
}

.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}
.bg-green {
  background-color: green;
}
.bg-teal {
  background-color: teal;
}
.bg-red {
  background-color: red;
}
.bg-light-grey {
  background-color: #f1f1f1;
}
.bg-dark-grey {
  background-color: #8E9085;
}
.bg-silver {
  background-color: silver;
}
.bg-orange {
  background-color: #F4782B;
}
.bg-lightsky {
  background-color: #dde3e9;
}
.bg-custom-light {
  background-color: #EAEEF1;
}

.txt-white {
  color: white;
}
.txt-red {
  color: red;
}
.txt-blue {
  color: blue;
}
.txt-green {
  color: green;
}
.txt-silver {
  color: silver;
}
.txt-yellow {
  color: yellow;
}
.txt-orange {
  color: #F4782B;
}
.txt-smoke {
  color: #B9BEC4;
}
.txt-grey {
  color: #777;
}
.txt-custom-blue {
  color: #2A538F;
}

.frow {
  display: flex !important;
  flex-direction: row;
}
.frow.zoom {
  min-width: 100%;
  min-height: 100%;
}
.frow.centered {
  align-items: center;
  justify-content: center;
}
.frow.top-left {
  align-items: flex-start;
  justify-content: flex-start;
}
.frow.top-right {
  align-items: flex-start;
  justify-content: flex-end;
}
.frow.top-mid {
  align-items: flex-start;
  justify-content: center;
}
.frow.mid-left {
  align-items: center;
  justify-content: flex-start;
}
.frow.mid-right {
  align-items: center;
  justify-content: flex-end;
}
.frow.btm-left {
  align-items: flex-end;
  justify-content: flex-start;
}
.frow.btm-right {
  align-items: flex-end;
  justify-content: flex-end;
}
.frow.btm-mid {
  align-items: flex-end;
  justify-content: center;
}
.frow.wrap {
  flex-wrap: wrap;
}
.frow.spaced > div {
  margin-left: 5px;
  margin-right: 5px;
}
.frow.spaced-10 > div {
  margin-left: 10px;
  margin-right: 10px;
}
.frow > div.centered {
  align-self: center;
}

.fcol {
  display: flex !important;
  flex-direction: column;
}
.fcol.centered {
  align-items: center;
  justify-content: center;
}
.fcol.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.fcol.top-mid {
  justify-content: flex-start;
  align-items: center;
}
.fcol.top-right {
  justify-content: flex-start;
  align-items: flex-end;
}
.fcol.mid-left {
  justify-content: center;
  align-items: flex-start;
}
.fcol.mid-right {
  justify-content: center;
  align-items: flex-end;
}
.fcol.btm-left {
  justify-content: flex-end;
  align-items: flex-start;
}
.fcol.btm-mid {
  justify-content: flex-end;
  align-items: center;
}
.fcol.btm-right {
  justify-content: flex-end;
  align-items: flex-end;
}

.stretched {
  justify-content: space-between !important;
}

.narrow {
  justify-content: space-around !important;
}

.circular {
  border-radius: 50%;
}

.transparent {
  background-color: transparent;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-24 {
  width: 24%;
}

.hw-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-32 {
  width: 32%;
}

.w-38 {
  width: 38%;
}

.w-40 {
  width: 40%;
}

.w-48 {
  width: 48%;
}

.hw-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-72 {
  width: 72%;
}

.hw-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.h-10 {
  height: 10vh;
}

.h-15 {
  height: 15vh;
}

.h-20 {
  height: 20vh;
}

.h-30 {
  height: 30vh;
}

.h-40 {
  height: 40vh;
}

.h-50 {
  height: 50vh;
}

.h-60 {
  height: 60vh;
}

.h-70 {
  height: 70vh;
}

.h-80 {
  height: 80vh;
}

.h-90 {
  height: 90vh;
}

.mx-10 {
  margin-left: 100px;
  margin-right: 100px;
}

.rp-5 {
  padding: 3rem;
}

.rpx-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-10 {
  padding-left: 100px;
  padding-right: 100px;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.hidden {
  visibility: hidden;
}

.hoverable {
  cursor: pointer;
  text-decoration: none !important;
}

.hide {
  display: none !important;
}

.input-rounded {
  border-style: solid;
  border-width: thin;
  border-color: silver;
  border-radius: 50px;
  width: 200px;
  padding: 0px 25px 0px 15px;
}
.input-rounded:focus {
  outline: 0;
}

.btn-orange {
  background-color: rgba(244, 120, 43, 0.8);
  color: #EAEEF1;
  border-radius: 5px;
  padding: 0.2rem 0.375rem;
}
.btn-orange:hover {
  background-color: #F4782B;
  color: white;
}

.btn-outline-orange {
  background-color: transparent;
  border: 1px solid #F4782B;
  color: #F4782B;
  border-radius: 5px;
  padding: 0.2rem 0.375rem;
}
.btn-outline-orange:hover {
  background-color: #F4782B;
  color: white;
}

.btn-rounded-outline-orange {
  background-color: transparent;
  border: 1px solid #F4782B;
  color: #F4782B;
  border-radius: 50px;
}
.btn-rounded-outline-orange:hover {
  background-color: #F4782B;
  color: white;
}

.btn-rounded-custom-blue {
  background-color: rgba(42, 83, 143, 0.8);
  color: white;
  border-radius: 50px;
}
.btn-rounded-custom-blue:hover {
  background-color: #2A538F;
  cursor: pointer;
}

.btn-rounded-custom-orange {
  background-color: #F4782B;
  color: white;
  border-radius: 50px;
}
.btn-rounded-custom-orange:hover {
  background-color: rgba(244, 120, 43, 0.8);
  cursor: pointer;
}

.circular-10 {
  width: 10px;
  height: 10px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.circular-15 {
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.circular-20 {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.circular-25 {
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.circular-30 {
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.circular-50 {
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.circular-75 {
  width: 75px;
  height: 75px;
  align-items: center;
  justify-content: center;
  border: solid;
  border-radius: 50%;
}

.box-5 {
  width: 5px;
  height: 5px;
}

.box-10 {
  width: 10px;
  height: 10px;
}

.box-15 {
  width: 15px;
  height: 15px;
}

.box-20 {
  width: 20px;
  height: 20px;
}

.box-25 {
  width: 25px !important;
  height: 25px !important;
}

.box-30 {
  width: 30px !important;
  height: 30px !important;
}

.box-50 {
  width: 50px;
  height: 50px;
}

.box-75 {
  width: 75px;
  height: 75px;
}

.box-100 {
  width: 100px;
  height: 100px;
}

.box-125 {
  width: 125px;
  height: 125px;
}

.box-150 {
  width: 150px;
  height: 150px;
}

.box-175 {
  width: 175px;
  height: 175px;
}

.box-200 {
  width: 200px;
  height: 200px;
}

.box-120x200 {
  width: 200px;
  height: 120px;
}

.image-frame {
  position: relative;
}
.image-frame img {
  z-index: 200;
}
.image-frame .no-image-caption {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-color: #e0e0e0;
  color: grey;
  background-color: #f1f3f5;
  z-index: 300;
}
.image-frame.has-image img {
  z-index: 300;
}
.image-frame.has-image .no-image-caption {
  position: absolute;
  z-index: 200;
}

.fancyinput {
  position: relative;
}
.fancyinput label {
  visibility: hidden;
  position: absolute;
  top: 0;
  font-size: 0.8rem;
  left: 10px;
  transition: 0.5s;
  color: #2A538F;
}
.fancyinput input, .fancyinput textarea {
  font-family: inherit;
  width: 100%;
  font-size: 1rem;
  padding: 8px;
  outline: none;
  border: 1px solid rgba(52, 144, 220, 0.2);
  border-radius: 0px;
  box-shadow: none;
  background-color: transparent;
  transition: border-color 0.2s;
}
.fancyinput input:not(:-moz-placeholder-shown) ~ label, .fancyinput textarea:not(:-moz-placeholder-shown) ~ label {
  top: -12px;
  padding: 0px 2px;
  left: 10px;
  border: 0;
  font-size: 0.8rem;
  visibility: visible;
  -moz-transition: 0.5s;
  transition: 0.5s;
  cursor: text;
  background-color: white;
}
.fancyinput input:not(:-ms-input-placeholder) ~ label, .fancyinput textarea:not(:-ms-input-placeholder) ~ label {
  top: -12px;
  padding: 0px 2px;
  left: 10px;
  border: 0;
  font-size: 0.8rem;
  visibility: visible;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: text;
  background-color: white;
}
.fancyinput input:not(:placeholder-shown) ~ label, .fancyinput textarea:not(:placeholder-shown) ~ label {
  top: -12px;
  padding: 0px 2px;
  left: 10px;
  border: 0;
  font-size: 0.8rem;
  visibility: visible;
  transition: 0.5s;
  cursor: text;
  background-color: white;
}
.fancyinput input:focus, .fancyinput textarea:focus {
  background-color: rgba(52, 144, 220, 0.2);
  border-color: rgba(52, 144, 220, 0.8);
  transition: border-color 0.2s;
}
.fancyinput input:focus ~ label, .fancyinput textarea:focus ~ label {
  background-color: transparent;
}
.fancyinput textarea:not(:-moz-placeholder-shown) ~ label {
  color: #3490dc;
  top: -12px;
  font-size: 0.8rem;
  visibility: visible;
  -moz-transition: 0.5s;
  transition: 0.5s;
  cursor: text;
  background-color: white;
}
.fancyinput textarea:not(:-ms-input-placeholder) ~ label {
  color: #3490dc;
  top: -12px;
  font-size: 0.8rem;
  visibility: visible;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: text;
  background-color: white;
}
.fancyinput textarea:not(:placeholder-shown) ~ label {
  color: #3490dc;
  top: -12px;
  font-size: 0.8rem;
  visibility: visible;
  transition: 0.5s;
  cursor: text;
  background-color: white;
}
.fancyinput textarea:focus {
  outline: none;
  border: 1px solid royalblue;
  box-shadow: none;
  transition: 0.5s ease;
}
.fancyinput textarea:not(:focus) ~ label span {
  display: none;
  transition: all 0.5s ease;
}

.fancyselect {
  position: relative;
}
.fancyselect select {
  font-family: inherit;
  width: 100%;
  border: 1px solid rgba(52, 144, 220, 0.2);
  outline: 0;
  font-size: 1rem;
  padding: 8px;
  border-radius: 0px;
  background-color: transparent;
  transition: border-color 0.2s;
}
.fancyselect select:focus {
  background-color: rgba(52, 144, 220, 0.3);
  border-color: rgba(52, 144, 220, 0.5);
  transition: border-color 0.2s;
}
.fancyselect select:focus ~ label {
  background-color: transparent;
}
.fancyselect select option {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
.fancyselect label {
  position: absolute;
  color: #2A538F;
  top: -10px;
  left: 10px;
  padding: 0px 2px;
  font-size: 0.8rem;
  visibility: visible;
  background-color: white;
  transition: 0.5s;
}

.fancyselect-underline {
  position: relative;
}
.fancyselect-underline select {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(52, 144, 220, 0.2);
  outline: 0;
  font-size: 1rem;
  padding: 5px;
  border-radius: 0px;
  background-color: transparent;
  transition: border-color 0.2s;
}
.fancyselect-underline select:focus {
  background-color: rgba(52, 144, 220, 0.3);
  border-color: rgba(52, 144, 220, 0.5);
  transition: border-color 0.2s;
}
.fancyselect-underline select:focus ~ label {
  background-color: transparent;
}
.fancyselect-underline select option {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
.fancyselect-underline label {
  position: absolute;
  color: #3490dc;
  top: -5px;
  left: 10px;
  padding: 0px 2px;
  font-size: 0.8rem;
  visibility: visible;
  background-color: white;
  transition: 0.5s;
}

.fancy-search-grow input, .fancy-search-grow .fancyinput textarea, .fancyinput .fancy-search-grow textarea {
  border-style: solid;
  border-width: thin;
  border-color: silver;
  border-radius: 50px;
  width: 30%;
  line-height: 1.2rem;
  background-color: transparent;
  padding: 5px 15px 5px 15px;
}
.fancy-search-grow input:focus, .fancy-search-grow .fancyinput textarea:focus, .fancyinput .fancy-search-grow textarea:focus {
  outline: 0;
  transition: 1s;
}
.fancy-search-grow input:not(:-moz-placeholder-shown), .fancy-search-grow .fancyinput textarea:not(:-moz-placeholder-shown), .fancyinput .fancy-search-grow textarea:not(:-moz-placeholder-shown) {
  outline: 0;
  width: 40%;
  -moz-transition: 1s;
  transition: 1s;
}
.fancy-search-grow input:not(:-ms-input-placeholder), .fancy-search-grow .fancyinput textarea:not(:-ms-input-placeholder), .fancyinput .fancy-search-grow textarea:not(:-ms-input-placeholder) {
  outline: 0;
  width: 40%;
  -ms-transition: 1s;
  transition: 1s;
}
.fancy-search-grow input:not(:placeholder-shown), .fancy-search-grow .fancyinput textarea:not(:placeholder-shown), .fancyinput .fancy-search-grow textarea:not(:placeholder-shown) {
  outline: 0;
  width: 40%;
  transition: 1s;
}

.fancy-search-grow-full input, .fancy-search-grow-full .fancyinput textarea, .fancyinput .fancy-search-grow-full textarea {
  border-style: solid;
  border-width: thin;
  border-color: silver;
  border-radius: 50px;
  width: 80%;
  line-height: 1.2rem;
  background-color: transparent;
  padding: 5px 15px 5px 15px;
}
.fancy-search-grow-full input:focus, .fancy-search-grow-full .fancyinput textarea:focus, .fancyinput .fancy-search-grow-full textarea:focus {
  outline: 0;
  transition: 1s;
}
.fancy-search-grow-full input:not(:-moz-placeholder-shown), .fancy-search-grow-full .fancyinput textarea:not(:-moz-placeholder-shown), .fancyinput .fancy-search-grow-full textarea:not(:-moz-placeholder-shown) {
  outline: 0;
  width: 90%;
  -moz-transition: 1s;
  transition: 1s;
}
.fancy-search-grow-full input:not(:-ms-input-placeholder), .fancy-search-grow-full .fancyinput textarea:not(:-ms-input-placeholder), .fancyinput .fancy-search-grow-full textarea:not(:-ms-input-placeholder) {
  outline: 0;
  width: 90%;
  -ms-transition: 1s;
  transition: 1s;
}
.fancy-search-grow-full input:not(:placeholder-shown), .fancy-search-grow-full .fancyinput textarea:not(:placeholder-shown), .fancyinput .fancy-search-grow-full textarea:not(:placeholder-shown) {
  outline: 0;
  width: 90%;
  transition: 1s;
}

.feather-xxsmall {
  width: 8px;
  height: 8px;
}

.feather-xsmall {
  width: 13px;
  height: 13px;
}

.feather-small {
  width: 16px;
  height: 16px;
}

.feather-medium {
  width: 24px;
  height: 24px;
}

.feather-large {
  width: 48px;
  height: 48px;
}

.feather-xlarge {
  width: 64px;
  height: 64px;
}

.feather-xxlarge {
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 100% !important;
  }

  .container-50, .container-60, .container-70, .container-75 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100% !important;
  }

  .fcol {
    width: 100% !important;
  }

  .auto-col {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .circular-10 {
    max-width: 10px;
    max-height: 10px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
  }

  .circular-15 {
    max-width: 15px;
    max-height: 15px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
  }

  .circular-20 {
    max-width: 20px;
    max-height: 20px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
  }

  .circular-25 {
    max-width: 25px;
    max-height: 25px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
  }

  .circular-50 {
    max-width: 50px;
    max-height: 50px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
  }

  .circular-75 {
    max-width: 75px;
    max-height: 75px;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 50%;
  }

  .txt-xxl {
    font-size: 1.5rem;
  }

  .txt-xl {
    font-size: 1.3rem;
  }

  .txt-l {
    font-size: 1.2rem;
  }

  .txt-m {
    font-size: 1rem;
  }

  .txt-s {
    font-size: 0.75rem;
  }

  .navstep {
    width: 100%;
    margin-bottom: 10px;
  }

  .slider {
    width: 100% !important;
  }

  .rw-5 {
    width: 5% !important;
  }

  .rw-10 {
    width: 10% !important;
  }

  .rw-15 {
    width: 15% !important;
  }

  .rw-20 {
    width: 20% !important;
  }

  .rw-25 {
    width: 25% !important;
  }

  .rw-30 {
    width: 30% !important;
  }

  .rw-40 {
    width: 40% !important;
  }

  .rw-50 {
    width: 50% !important;
  }

  .rw-60 {
    width: 60% !important;
  }

  .rw-70 {
    width: 70% !important;
  }

  .rw-80 {
    width: 80% !important;
  }

  .rw-85 {
    width: 85% !important;
  }

  .rw-90 {
    width: 90% !important;
  }

  .rw-100 {
    width: 100% !important;
  }

  .rh-10 {
    height: 10vh !important;
  }

  .rh-20 {
    height: 20vh !important;
  }

  .rh-30 {
    height: 30vh !important;
  }

  .rh-40 {
    height: 40vh !important;
  }

  .rh-50 {
    height: 50vh !important;
  }

  .rh-60 {
    height: 60vh !important;
  }

  .rh-70 {
    height: 70vh !important;
  }

  .rh-80 {
    height: 90vh !important;
  }

  .rh-100 {
    height: 100vh !important;
  }

  .rh-auto {
    height: auto !important;
  }

  .rmy-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .rmy-2 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .rmy-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .rmb-2 {
    margin-bottom: 0.75rem;
  }

  .rmb-3 {
    margin-top: 1rem;
  }

  .rmt-2 {
    margin-top: 0.75rem;
  }

  .rmt-3 {
    margin-top: 1rem;
  }

  .tr,
.th {
    font-size: 0.75rem;
  }

  .th {
    font-weight: bold;
  }

  .feather-xsmall {
    width: 10px;
    height: 10px;
  }

  .user-sidebar {
    width: 60% !important;
    overflow-y: auto;
  }

  .rhide {
    display: none !important;
  }

  .rshow {
    display: block !important;
  }
}
.rhide {
  display: block;
}

.rshow {
  display: none;
}

.navbar {
  height: 12vh;
  color: white;
  padding: 0px 50px;
}
.navbar .navlink {
  padding: 0px 10px;
}
.navbar .navlink a {
  color: inherit;
}
.navbar .navlink a:hover {
  color: #F4782B;
  text-decoration: none;
}
.navbar .navlink .chevron-up, .navbar .navlink .navsub {
  display: none !important;
  transition: display 0.5s ease-in-out;
}
.navbar .navlink.has-sub {
  height: 12vh;
}
.navbar .navlink.has-sub:hover .chevron-up {
  display: flex !important;
  position: absolute;
  background-color: white;
  border: none;
  height: 12px;
  width: 12px;
  top: 65px;
  z-index: 1001;
  transform: rotate(45deg);
}
.navbar .navlink.has-sub:hover .navsub {
  display: flex !important;
  position: absolute;
  top: 12vh;
  min-width: 200px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border-bottom: solid;
  border-color: #F4782B;
  border-width: 5px;
  border-radius: 3px;
}
.navbar .navlink.has-sub:hover .navsub .navlink {
  line-height: 2;
}
.navbar .navlink.has-sub:hover .navsub .navlink a {
  color: #333;
}
.navbar .navlink.has-sub:hover .navsub .navlink a:hover {
  color: #F4782B;
}

.notification-count {
  position: absolute;
  background-color: #F4782B;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -3px;
  right: 3px;
}

.bg-banner {
  background-image: url("/images/banner/admin_header.jpg");
  background-size: 100% 100%;
}

.navstep {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 2px;
}
.navstep a {
  text-decoration: none !important;
  color: #28283b;
}
.navstep a .roundbtn:hover {
  background-color: #e07f0f;
  cursor: pointer;
}
.navstep .roundbtn {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #c09c6d;
  color: white;
}
.navstep .super-underline {
  position: absolute;
  left: 30px;
  top: -8px;
  width: 85%;
  padding-left: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: slategray;
  color: slategray;
}
.navstep.active .roundbtn {
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: #575353;
  align-items: center;
  justify-content: center;
  background-color: #e07f0f;
}
.navstep.active .super-underline {
  position: absolute;
  left: 30px;
  top: -8px;
  width: 85%;
  padding-left: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #333;
  color: #333;
  font-weight: bold;
}

.bar {
  border: solid;
}
.bar-1 {
  border-width: 1px;
}
.bar-2 {
  border-width: 2px;
}
.bar-3 {
  border-width: 3px;
}
.bar-green {
  border-color: green;
}
.bar-sky {
  border-color: #9dd6d3;
}
.bar-red {
  border-color: red;
}
.bar-grey {
  border-color: #ccc5c5;
}
.bar-val {
  font-size: 0.6rem;
  margin-left: 5px;
}

.slider {
  position: fixed;
  width: 30%;
  overflow: auto;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3000;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.slider.slide-left {
  transform: translateX(0);
}

.user-header {
  height: 10vh;
  background-color: white;
  color: #2A538F;
  font-size: 1rem;
  position: sticky;
  left: 0px;
  top: 0px;
}
.user-header .app-logo {
  height: 35px;
  width: 90%;
}
.user-header .navitem {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border-bottom: solid white 2px;
  height: 10vh;
}
.user-header .navitem.active {
  border-bottom: solid rgba(42, 83, 143, 0.8) 2px;
}
.user-header .navitem:hover {
  cursor: pointer;
  color: rgba(42, 83, 143, 0.5);
  transition: all 0.5s;
}

.user-sidebar {
  height: 90vh;
  position: fixed;
  left: 0px;
  width: 20%;
  top: 10vh;
  bottom: 0px;
  overflow: auto;
  background-color: #2A538F;
  z-index: 1;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}
.user-sidebar.disappear {
  transform: translateX(-100%);
}
.user-sidebar .user-avatar-lg {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  border: solid;
  border-color: #EAEEF1;
  border-radius: 50%;
}
.user-sidebar .user-profile-id {
  margin-top: 5px;
  color: #F4782B;
}
.user-sidebar .free-report-btn {
  background-color: #EAEEF1;
  border-radius: 70px;
  padding: 2px 5px;
  margin-top: 5px;
  text-align: center;
}
.user-sidebar .navitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  width: 100%;
}
.user-sidebar .navitem a {
  text-decoration: none;
}
.user-sidebar .navitem .navitem-ico {
  color: #B9BEC4;
  margin-bottom: 5px;
  text-align: center;
}
.user-sidebar .navitem .navitem-link {
  color: #B9BEC4;
}
.user-sidebar .navitem.active {
  background-color: #F4782B;
}
.user-sidebar .navitem.active .navitem-ico {
  color: white;
}
.user-sidebar .navitem.active .navitem-link {
  color: white;
}
.user-sidebar .navitem:not(.active):hover .navitem-ico {
  color: #EAEEF1;
}
.user-sidebar .navitem:not(.active):hover .navitem-link {
  color: #EAEEF1;
}

.user-page {
  width: 100%;
}
.user-page .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
.user-page .page-header .page-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  height: 10vh;
}
.user-page .page-navbar {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.user-page .page-navbar .navitem {
  display: flex;
  align-items: center;
  padding: 0px 0px 5px 0px;
  border-bottom: 2px solid #EAEEF1;
}
.user-page .page-navbar .navitem.active {
  font-weight: bold;
  color: #2A538F;
  border-bottom: 2px solid rgba(42, 83, 143, 0.8);
}
.user-page .page-navbar .navitem:first-child a:hover {
  cursor: pointer;
}
.user-page .page-navbar .navitem:not(:first-child) {
  margin-left: 15px;
}
.user-page .page-navbar .navitem a {
  color: #333;
}
.user-page .page-navbar .navitem a:hover {
  text-decoration: none;
}
.user-page .page-body .page-social {
  padding: 0px 0px 0px 10px;
}
.user-page .page-body .page-social .social-news {
  display: flex;
  background-color: white;
  padding: 10px;
  width: 100%;
}
.user-page .page-body .page-social .social-news .social-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 25% !important;
}
.user-page .page-body .page-social .social-news .social-icon .fb {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(76, 28, 238, 0.72);
  color: white;
}
.user-page .page-body .page-social .social-news .social-icon .twitter {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #1492E6;
}
.user-page .page-body .page-social .social-news .social-text {
  display: flex;
  width: 75%;
  color: #333;
  font-size: 0.8rem;
}
.user-page .page-body .page-social .social-news .news-txt {
  display: flex;
  width: 100%;
  color: #333;
  font-size: 0.5rem;
}

#scroll-container {
  height: 140px;
  overflow: hidden;
}

#scroll-text {
  height: 100%;
  text-align: justify;
  /* animation properties */
  transform: translateY(100%);
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

/* for Firefox */
/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes my-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
.container-50, .container-60, .container-70, .container-75 {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-50 {
  width: 50%;
}
.container-60 {
  width: 60%;
}
.container-70 {
  width: 70%;
}
.container-75 {
  width: 75%;
}

.hr {
  border-bottom: 1px solid #777;
}
.hr.light {
  border-bottom: 1px solid #aaa;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

div > a {
  color: inherit;
}

.primary {
  border: 0.5px #aaa solid;
  border-radius: 5px;
}
.primary .label {
  font-size: 1.3rem;
  color: #2A538F;
}
.primary .icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.primary .icon .feather-large {
  color: white;
}
.primary .order {
  position: absolute;
  font-weight: bold;
  top: 15px;
  right: 15px;
}
.primary .order .circular-50 {
  border: 0.5px #aaa solid;
  color: #aaa;
}
.primary .animated-order {
  position: absolute;
  opacity: 0;
  border-color: #aaa;
  font-weight: bold;
  top: 15px;
  left: 15px;
  transform: translateY(-50px);
}
.primary:hover {
  background-color: #F4782B;
  border: transparent;
  transition: all 0.5s;
}
.primary:hover .label {
  font-weight: bold;
  transform: translateX(20%);
  transition: all 0.25s ease-out;
}
.primary:hover .icon {
  color: white;
  display: flex;
  transition: all 1s ease-in-out;
}
.primary:hover .order {
  display: none;
}
.primary:hover .animated-order {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s ease-out;
}
.primary:hover .animated-order .circular-50 {
  border: none;
  background-color: white;
  color: #2A538F;
  font-weight: bold;
}
