@media only screen and (max-width: 800px) {
    /* data section */
    .logo img {
        margin-left: 0px;
    }
    .frow.auto-col {
        display: block;
    }
    .frow.auto-col>div {
        margin-top: 10px;
        width: 100%;
    }
    .rw-100 {
        width: 100%;
    }
    .global-header-section {
        width: 100%;
    }
    .data-section {
        display: block;
        position: absolute;
        width: 100%;
        top: 48px;
        left: 0;
    }
    .data-container {
        display: block;
    }
    .content-panel,
    .promotion-panel {
        margin-top: 10px;
    }
    .title-bar,
    .content-panel,
    .promotion-panel {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .title-bar {
        line-height: 50px;
    }
    .sidebar {
        width: 40%;
        position: fixed;
        transform: translate(-100%);
        transition: all 0.5s ease;
    }
    .sidebar.show {
        transform: translate(0);
    }
    .hide-sm,
    .rhide {
        display: none;
    }
    .hide-lg {
        display: flex;
    }
    .rw-30 {
        width: 30%;
    }
    .rw-40 {
        width: 40%;
    }
    .rw-50 {
        width: 50%;
    }
    .page-centered.w-50,
    .page-centered.w-70 {
        width: 75%;
        left: 8%;
    }
    .rmb-2 {
        margin-bottom: 0.6rem;
    }
}

@media only screen and (max-width: 400px) {
    .logo img {
        width: 120px;
        margin-left: 0px;
    }
    .nav-links>ul>li {
        padding: 0px 5px;
    }
}