* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    background-color: #eee;
    align-items: center;
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-links ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links ul li {
    padding: 0px 10px;
}

.has-submenu {
    position: relative;
}

.has-submenu ul li label {
    display: flex;
    align-items: center;
}

.submenu {
    position: absolute;
    margin-top: 5px;
    top: 100%;
    border-radius: 5px;
    width: 200px;
    padding: 5px;
    right: -9px;
    border: solid 1px #aaa;
    opacity: 0;
}

.submenu ul {
    display: block;
}

.submenu ul li {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

ul li img {
    padding: 0px 5px;
}

.submenu::before {
    position: absolute;
    top: -7px;
    right: 12px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 6px solid #aaa;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: "";
    left: auto;
}

#country-toggle:checked~.submenu {
    opacity: 1 !important;
}

.caret::after {
    width: 0;
    height: 0;
    display: inline-block;
    border: 6px solid transparent;
    border-top-color: #777;
    content: '';
}

#country-toggle:checked~li label .caret::after {
    width: 0;
    height: 0;
    display: inline-block;
    border: 6px solid transparent;
    border-bottom-color: #777;
    content: '';
}

.invisible {
    opacity: 0;
    width: 0;
}


/* .caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 6px solid transparent;
    border-top-color: #777;
} */